---
- name: Configure EC2 and deploy Docker container
  hosts: docker
  become: yes

  tasks:

    - name: Update system
      apt:
        name: "*"
        state: latest

    - name: Install Docker
      apt:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add ubuntu to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Install Git
      apt:
        name: git
        state: present

    - name: Clone application repo
      git:
        repo: https://github.com/USERNAME/REPO.git
        dest: /home/ec2-user/app
        version: main

    - name: Build Docker image
      command: docker build -t myapp .
      args:
        chdir: /home/ec2-user/app

    - name: Run Docker container
      command: docker run -d -p 80:80 --name mycontainer myapp
